@model Tuple<List<SprayConfigurationCompetencies>, string, int>
@using WebPortal.Models
@using WebPortal.Code

@{
    ViewBag.Title = "Competencies for " + @Model.Item2;
}

<h1>Competencies for @Model.Item2</h1>
<br />

<div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createAddManufacturerModal" data-toggle="modal" asp-action="AddCompetencie" asp-route-id="@Model.Item3" data-target="#modal-action-add-competencie" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Competencie
            </a>
        </div>
        <p></p>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Configuration</th>
                    <th>Prepare And Apply Chemicals</th>
                    <th>Control Weeds</th>
                    <th>Transport Handle And Store Chemicals</th>
                    <th>Provider</th>
                    <th>Year</th>
                    <th>Commercial Licence Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Item1)
                {
                    <tr>
                        <td>@item.ConfigurationTarget.Name</td>
                        <td>@item.PrepareAndApplyChemicals</td>
                        <td>@item.ControlWeeds</td>
                        <td>@item.TransportHandleAndStoreChemicals</td>
                        <td>@item.Provider</td>
                        <td>@item.Year</td>
                        <td>@item.CommercialLicenceNumber</td>
                        <td>
                            <a id="editCompetencieModal" data-toggle="modal" asp-action="editCompetencie" asp-route-id="@item.ConfigurationId:@item.EmployeeId" data-target="#modal-action-edit-competencie" class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteCompetencieModal" data-toggle="modal" asp-action="deleteCompetencie" asp-route-id="@item.ConfigurationId:@item.EmployeeId" data-target="#modal-action-delete-competencie" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-add-competencie", AreaLabeledId = "modal-action-user-label", Size = ModalSize.Medium })
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-edit-competencie", AreaLabeledId = "modal-action-user-label", Size = ModalSize.Medium })
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-delete-competencie", AreaLabeledId = "modal-action-user-label", Size = ModalSize.Medium })